body{
    margin: 0px 0px 0px 0px;
}
*{
    padding:0px;
}
#nav{
    height: clamp(3rem,3.25vw,4rem);
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    opacity: 80%;
    background-image: linear-gradient(transparent 10%);
    background-color: rgb(0, 0, 0);
    position:fixed;
    align-items: center;
    z-index: 2;
}
#logo{
    height:auto;
    width: clamp(6rem,10vw,11rem);
    margin: 0px,clamp(2rem,7vh,5rem),0px,0px;
}

#club1{
    width:25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: clamp(1rem,2vh,3rem);
    margin-right: clamp(1rem,2vh,3rem);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(10px,2vw,24px);
    color:aliceblue;
}
#item1:hover,#item2:hover,#item3:hover,#item4:hover{
    color:rgb(0, 255, 251);
    text-shadow: 
        0 0 10px #fff,
        0 0 20px #8a2cff,
        0 0 30px #8a2cff,
        0 0 50px #00d4ff;

}

#main_div_img{
    height: clamp(22rem,80vw,60rem);
    left:0px;
    right:0px;
    width:100%;
    background-image: url("/images/bg_img2.jpg");
    background-position: center;
    background-size: cover;
    
}
#mix{
    height: clamp(22rem,80vw,60rem);
    width:100%;
    background-image:linear-gradient(to bottom, transparent 65%, black);
    margin-top: 10px;
}
#top_space{
    height:56px;
    width:100%;
    top:0px;
    background-color: black;
}
 
#main_div_content{
    height: clamp(22rem,80vw,60rem);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
}
#main_h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: clamp(1.75rem,5vw,8rem);
    height:clamp(7rem,15vw,20rem);
    margin-top:clamp(0.3rem,4vh,50rem);
    text-align: center;
}
#main_h2{
    font-family:cursive;
    font-size: clamp(0.60rem,2vw,2rem);
    height:fit-content;
    text-align: center;
    margin-top: clamp(0.05rem,0.5vh,1rem);
    margin-bottom: clamp(0.05rem,1vh,3rem);
    color:aqua;
}
#main_h3{
    font-family:cursive;
    font-size: clamp(0.60rem,2vw,2rem);
    height:20px;
    color: rgb(108, 235, 255);
    text-align: center;
}
#main_div2{
    height:fit-content;
    width:100%;
    background-image: url("/images/bg_img2.png");
    background-repeat: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sign{
    width:clamp(4rem,6vw,13rem);
    display:flex;
    flex-direction: row;
    margin-right: clamp(0.5rem,2vw,3rem);
}

#sign_button{
    height:clamp(0.5rem,4vw,2rem);
    width:clamp(4rem,7vw,6rem);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    position: relative;
    border-radius: 5px;
    background-color: transparent;
    border: 0;
}

#sign_button::after, #sign_button::before{
    height:100%;
    width:100%;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    content:'';
    padding:5px;
    background-image: linear-gradient(90deg, rgb(0, 0, 255) 35%, rgba(0, 212, 255, 1) 100%);
    position:absolute;
    z-index: -1;
    border-radius: 5px;
}
#sign_button:hover{
    color:white;
    z-index: 1;
    box-shadow: 40px 0 100px cyan, -40px 0 100px cyan;
}
#sign_button::before{
    filter:blur(1.25rem);
}
#id1{
   height:clamp(1.5rem,5vh,5rem);
   width: 100%;
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
#st_journey,#testimonies{
    border-radius: clamp(10px,2vh,25px);
    height:clamp(1.5rem,5vh,5rem);
    width:clamp(5rem,12vw,15rem);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: transparent;
    color: white;
    font-size: clamp(14px,1vw,24px);
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
#st_journey{
    color: white;
    margin-right: clamp(5px,5vw,100px);
}
#testimonies{
    color: white;
    margin-left: clamp(5px,5vw,100px);
}

#st_journey::after,#st_journey::before,#testimonies::after , #testimonies::before{
    height:100%;
    width:100%;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    content:'';
    padding:5px;
    background-image: linear-gradient(90deg, rgb(0, 0, 255) 35%, rgba(0, 212, 255, 1) 100%);
    position:absolute;
    border-radius: 5px;
    z-index: -1;
}
#st_journey::before, #testimonies::before{
    filter:blur(1.2rem);
}
#st_journey:hover,#testimonies:hover{
    color:white;
    z-index: 1;
    box-shadow: 30px 0 100px cyan, -30px 0 100px cyan;
}

#id2{
    border-radius: 10px;
    height:fit-content;
    margin: clamp(5px,8vw,200px);
    margin-top: clamp(5px,6vw,200px);
    margin-bottom: clamp(5px,6vw,200px);
    background-color: #211951;
}
#h01{
    color:rgb(0, 251, 255);
    font-size: clamp(4rem,6vw,10rem);
    margin:15px;
    font-size:clamp(20px,6vw,5rem);
    text-align: center;
}
#id4{
    height:fit-content;
    display:flex;
    flex-direction: row;
    background-color: #282197ab;
    justify-content: center;
    margin: clamp(5px,3.5vw,80px);
    border-radius: 10px;
    align-items: center;
}
@media (max-width : 1200px){
    #id4{
        flex-wrap: wrap;
    }
}
#img1{
    height:clamp(100px,30vw,350px);
    border-radius: 10px;
    margin: 10px;
    
}
#id5{
    margin: clamp(5px,5vw,100px);
    color: white;
    font-size: clamp(8px,3vw,28px);
}

#id6{
    height: fit-content;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    margin: clamp(5px,8vw,200px);
    margin-bottom: 0px;
    background-color: #211951;
    justify-content: center;
    align-items: center;
    color: white;
}
#heading001{
    margin-bottom: 5px;
    font-size: clamp(1.75rem,4vw,6rem);
    color: cyan;
    text-align: center;
}
#heading002,#heading003,#heading004{
    font-size: clamp(1rem,3vw,3.5rem);
    text-align: center;
}
#p002,#p003,#p004{
    font-size: clamp(8px,3vw,24px);
    color: rgb(172, 172, 172);
    text-align: center;
}
#id7{
    height:fit-content;
    width:100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
@media (max-width : 800px){
    #id7{
        flex-wrap: wrap;
    }
}
#box1,#box2,#box3{
    border-radius: 20px;
    padding: 0px 20px 20px 10px;
    margin: 0px 20px 20px 10px;
    background-color: #282197ab;
}
#id8{
    height: fit-content;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    margin: clamp(5px,8vw,200px);
    margin-bottom: 0px;
    background-color: #211951;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5px;
    margin-bottom: clamp(5px,6vw,200px);
}
#heading005{
    margin-bottom: 5px;
    font-size: clamp(1.75rem,4vw,6rem);
    color: cyan;
    text-align: center;
}
#p005{
    font-size: clamp(8px,3vw,24px);
    color: rgb(172, 172, 172);
    margin:0px;
}

#heading006,#heading007,#heading008{
    font-size: clamp(1rem,3vw,3.5rem);
    text-align: center;
}
#p006,#p007,#p008{
    font-size: clamp(8px,3vw,24px);
    color: rgb(172, 172, 172);
}
#id9{
    height:fit-content;
    width:100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
@media (max-width : 800px){
    #id9{
        flex-wrap: wrap;
    }
}
#box4,#box5,#box6{
    width:clamp(5rem, 21vw,25rem);
    text-align: center;
    border-radius: 20px;
    padding: 0px 20px 20px 10px;
    margin: 0px 20px 20px 10px;
    background-image: linear-gradient(to top, transparent, #282197ab);
}




#id10{
    height: fit-content;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    margin: clamp(5px,8vw,200px);
    margin-bottom: 0px;
    background-color: #211951;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5px;
    margin-bottom: clamp(5px,6vw,200px);
}
#img2{
    height:clamp(80px,20vw,350px);
    border-radius: 10px;
    margin: 10px;
    background-image: url("/images/img4.png");
    background-size: cover;
}
#img3{
    height:clamp(80px,20vw,350px);
    border-radius: 10px;
    margin: 10px;
    background-image: url("/images/img5.png");
    background-size: cover;
}
#img4{
    height:clamp(80px,20vw,350px);
    border-radius: 10px;
    margin: 10px;
    background-image: url("/images/img6.png");
    background-size: cover;
}
#heading009,#heading010,#heading011{
    font-size: clamp(1rem,3vw,3.5rem);
    text-align: center;
    color: cyan;
}
#p009,#p010,#p011{
    margin: clamp(5px,1vw,20px);
    font-size: clamp(4px,2vw,20px);
    color: white;
}
#id12,#id13,#id14{
    text-align: left;
    margin: clamp(5px,2vw,50px);
    color: rgb(172, 172, 172);
    font-size: clamp(6px,2vw,20px);
}
#id11{
    height:fit-content;
    width:100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
@media (max-width : 800px){
    #id11{
        flex-wrap: wrap;
    }
}
#box7,#box8,#box9{
    width:clamp(5rem, 25vw,30rem);
    border-radius: 20px;
    background-color: #282197ab;
}